@import url("https://fonts.googleapis.com/css2?family=Russo+One&display=swap");

svg {
	font-family: "Russo One", sans-serif;
	width: 100%; height: 100%;
}
svg text {
	animation: stroke 5s infinite alternate;
	stroke-width: 2;
	stroke: #407827;
	font-size: 87px;
}
@keyframes stroke {
	0%   {
		fill: rgba(32,181,0,0); stroke: rgba(64,120,39,1);
		stroke-dashoffset: 25%; stroke-dasharray: 0 50%; stroke-width: 2;
	}
	70%  {fill: rgba(32,181,0,0); stroke: rgba(64,120,39,1); }
	80%  {fill: rgba(32,181,0,0); stroke: rgba(64,120,39,1); stroke-width: 3; }
	100% {
		fill: rgba(32,181,0,1); stroke: rgba(64,120,39,0);
		stroke-dashoffset: -25%; stroke-dasharray: 50% 0; stroke-width: 0;
	}
}

.wrapper {background-color: #FFFFFF};

.cube {
  transform: scale3d(3, 0.7, 0.8) rotateX(-1deg) rotateY(-9deg) rotateZ(0deg) translate3d(1px, 0px, 0px) skew(0deg, 0deg);
}
.cube-wrap {
  perspective: 1000px;
  perspective-origin: 50% 50%;
}